body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
    font-size: 16px;
    height: 100vh;
    background-image: url('2150061737.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;
}

@keyframes gradientBG {
100% {background-position: 50% 50%;}

}
h1 {
    font-size: clam(2.5rem, 10vw, 6em;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgba(115, 69, 241, 0.685);
    padding: 3vw, 3%;
    border-radius: 25px;
    box-shadow: 0 0 20px black;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
}

p {
    font-size: clamp(1.2rem 5vw, 2em);  
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(111, 91, 199);
    background-color: rgba(36, 98, 231, 0.705);
    padding: 2vw, 2%;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
}

input {
    padding: 15px;
    font-size: clamp(1rem, 4vw, 1.5em;
    border-radius: 5px;
    border: none;
    margin: 10px 10px 10px 0;
    max-width: 200px;
    width:100%;
    background-color: rgba(255, 255, 255, 0.836);
}

button {
    padding: 8px 15px;
    font-size: 1em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn {
    background-color: rgba(255, 255, 0, 0.658);
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
}
#restartBtn {
    background-color: rgba(144, 238, 144, 0.589);
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
}

#feedback {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    margin-top: 20px;    
    color: rgb(241, 106, 241)
}

#guessCount {
    font-weight: bold;

}







